<div class="container-fluid gryBG">


  <!-- ================= Start=================== -->

  <div class="row">
    <div class="col-md-6">
      <div class="boxs_BG mt-5">
        <div class="titleBG"> Objective Story </div>
        <form>
          <div class="row mt-4">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row m-0">
                    <label for="" class="col-sm-5 col-form-label col-form-label-sm">Year </label>
                    <div class="col-sm-7">
                      <select class="form-control col-form-label-sm">
                        <option>2016</option>
                        <option>2017</option>
                        <option>2018</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row m-0">
                    <label for="" class="col-sm-5 col-form-label col-form-label-sm">Period </label>
                    <div class="col-sm-7">
                      <select class="form-control col-form-label-sm">
                        <option>Mar-19</option>
                        <option>Feb-19</option>
                        <option>Jan-19</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <hr/>

              <div class="form-group row m-0">
                <label for="" class="col-sm-5 col-form-label col-form-label-sm">Organization Unit </label>
                <div class="col-sm-7">
                  <input type="text" class="form-control col-form-label-sm" id="" value="G-100:Group Company" placeholder="Organization Unit">
                </div>
              </div>



              <div class="form-group row m-0">
                <label for="" class="col-sm-5 col-form-label col-form-label-sm">Scorecard </label>
                <div class="col-sm-7">
                  <input type="text" class="form-control col-form-label-sm" id="" value="S1_01: Scorecard" placeholder="Scorecard">
                </div>
              </div>

              <div class="form-group row m-0">
                <label for="" class="col-sm-5 col-form-label col-form-label-sm">Objective </label>
                <div class="col-sm-7">
                  <input type="text" class="form-control col-form-label-sm" id="" value="B1_01: Objective 1" placeholder="Objective Code">
                </div>
              </div>


              <div class="form-group row m-0">
                <label for="" class="col-sm-5 col-form-label col-form-label-sm">Description </label>
                <div class="col-sm-7">
                  <textarea class="form-control col-form-label-sm" id="" placeholder="Description"></textarea>
                </div>
              </div>


              <div class="form-group row m-0">
                <label for="" class="col-sm-5 col-form-label col-form-label-sm">Owner </label>
                <div class="col-sm-7">
                  <input type="text" class="form-control col-form-label-sm" id="" value="Mr.Jone" placeholder="Owner">
                </div>
              </div>

              <div class="form-group row m-0">
                <label for="" class="col-sm-5 col-form-label col-form-label-sm">Collaborators </label>
                <div class="col-sm-7">
                  <input type="text" class="form-control col-form-label-sm" id="" value="Mr.Pal" placeholder="Collaborators">
                </div>
              </div>

            </div>


          </div>
        </form>
      </div>

      <div class="boxs_BG mt-5">
        <div class="titleBG"> Measures/KPI Performance </div>
        <div class="bscTable mt-4">
          <table class="table table-striped">
            <thead>
            <tr class="bscBg-primary white">
              <th scope="col">Objective</th>
              <th scope="col">Measure</th>
              <th scope="col">Actual</th>
              <th scope="col">Target</th>
              <th scope="col">Varience</th>
              <th scope="col">Status</th>
            </tr>


            </thead>
            <tbody>
            <tr>
              <td>Objective 1</td>
              <td>Measure 1</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Objective 2</td>
              <td>Measure 2</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>



            </tbody>
          </table>
        </div>
      </div>

      <div class="boxs_BG mt-5">
        <div class="titleBG"> Initiatives </div>
        <div class="bscTable mt-4">
          <table class="table table-striped">
            <thead>
            <tr class="bscBg-primary white">
              <th scope="col">Name</th>
              <th scope="col">Responsibile</th>
              <th scope="col">Percent Complete</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
            </tr>


            </thead>
            <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>



            </tbody>
          </table>
        </div>
      </div>

    </div>

    <div class="col-md-6">

      <div class="boxs_BG mt-5">
        <div class="titleBG"> Analysis </div>
        <div class="mt-4">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          </p>
        </div>
      </div>

      <div class="boxs_BG mt-5">
        <div class="titleBG"> Recommendation </div>
        <div class="mt-4">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          </p>
        </div>
      </div>

      <div class="boxs_BG mt-5">
        <div class="titleBG"> Performance </div>
        <div class="mt-4">
          <div id="chartdiv" class="border" style="height:300px;"></div>
        </div>
      </div>

      <div class="boxs_BG mt-5">
        <div class="titleBG"> Attachments / Reports </div>
        <div class="mt-4">
          <form>
            <div class="form-group row m-0">
              <label for="" class="col-sm-5 col-form-label col-form-label-sm">Attachments </label>
              <div class="col-sm-7">
                <div class="border pt-3 pb-2 pl-3">
                  <p> <a href="" > Document 1 </a> </p>
                  <p> <a href="" > Document 2 </a> </p>
                </div>
              </div>
            </div>

            <div class="form-group row m-0 mt-3">
              <label for="" class="col-sm-5 col-form-label col-form-label-sm">Reports </label>
              <div class="col-sm-7">
                <div class="border pt-3 pb-2 pl-3">
                  <p> <a href="" > Report 1 </a> </p>
                  <p> <a href="" > Report 2 </a> </p>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>



  <!-- ================= End=================== -->



</div>
