<div class="container-fluid gryBG">


  <!-- ================= Start=================== -->

  <div class="row">
    <div class="col-md-6">
      <div class="boxs_BG mt-5">
        <div class="titleBG"> Initiative Story </div>
        <form>
          <div class="row mt-4">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row m-0">
                    <label for="" class="col-sm-5 col-form-label col-form-label-sm">Year </label>
                    <div class="col-sm-7">
                      <select class="form-control col-form-label-sm">
                        <option>2016</option>
                        <option>2017</option>
                        <option>2018</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row m-0">
                    <label for="" class="col-sm-5 col-form-label col-form-label-sm">Period </label>
                    <div class="col-sm-7">
                      <select class="form-control col-form-label-sm">
                        <option>Mar-19</option>
                        <option>Feb-19</option>
                        <option>Jan-19</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <hr/>

              <div class="form-group row m-0">
                <label for="" class="col-sm-5 col-form-label col-form-label-sm">Organization Unit </label>
                <div class="col-sm-7">
                  <input type="text" class="form-control col-form-label-sm" id="" value="G-100:Group Company" placeholder="Organization Unit">
                </div>
              </div>



              <div class="form-group row m-0">
                <label for="" class="col-sm-5 col-form-label col-form-label-sm">Scorecard </label>
                <div class="col-sm-7">
                  <input type="text" class="form-control col-form-label-sm" id="" value="S1_01:Balanced Scorecard" placeholder="Scorecard">
                </div>
              </div>

              <div class="form-group row m-0">
                <label for="" class="col-sm-5 col-form-label col-form-label-sm">Objective </label>
                <div class="col-sm-7">
                  <input type="text" class="form-control col-form-label-sm" id="" value="T1_01: Objective 1" placeholder="Objective">
                </div>
              </div>

              <div class="form-group row m-0">
                <label for="" class="col-sm-5 col-form-label col-form-label-sm">Initiative </label>
                <div class="col-sm-7">
                  <input type="text" class="form-control col-form-label-sm" id="" value="T1_01: Initiative 1" placeholder="Initiative Code">
                </div>
              </div>

              <div class="form-group row m-0">
                <label for="" class="col-sm-5 col-form-label col-form-label-sm">Description </label>
                <div class="col-sm-7">
                  <textarea class="form-control col-form-label-sm" id="" placeholder="Description"></textarea>
                </div>
              </div>


              <div class="form-group row m-0">
                <label for="" class="col-sm-5 col-form-label col-form-label-sm">Owner </label>
                <div class="col-sm-7">
                  <input type="text" class="form-control col-form-label-sm" id="" value="Mr.Jone" placeholder="Owner">
                </div>
              </div>

              <div class="form-group row m-0">
                <label for="" class="col-sm-5 col-form-label col-form-label-sm">Collaborators </label>
                <div class="col-sm-7">
                  <input type="text" class="form-control col-form-label-sm" id="" value="Mr.Pal" placeholder="Collaborators">
                </div>
              </div>

            </div>


          </div>
        </form>
      </div>
    </div>

    <div class="col-md-6">

      <div class="boxs_BG mt-5">
        <div class="titleBG"> Analysis </div>
        <div class="mt-4">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          </p>
        </div>
      </div>

      <div class="boxs_BG mt-5">
        <div class="titleBG"> Recommendation </div>
        <div class="mt-4">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          </p>
        </div>
      </div>

    </div>
  </div>


  <div class="row">
    <div class="col-md-6">
      <div class="boxs_BG mt-5">
        <div class="titleBG"> Initiative  </div>
        <div class="bscTable">
          <table class="table table-striped mt-4">
            <thead>
            <tr class="bscBg-primary white">
              <th scope="col">Initiative Code</th>
              <th scope="col">Initiative Name</th>
              <th scope="col">Status</th>
              <th scope="col">Percent Complete</th>
              <th scope="col">Owner</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
            </tr>


            </thead>
            <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>



            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="boxs_BG mt-5">
        <div class="titleBG"> Performance </div>
        <div class="mt-4">
          <div id="chartdiv" class="border" style="height:200px;"></div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <div class="boxs_BG">

        <div class="titleBG"> Gantt Chart </div>


        <div class="row">

          <div class="col-md-12 mt-4">
            <p> <b> Organization Unit : </b> 100 : Group Company </p>
            <p>  <b> Scorecard : </b> S1_01 : Balanced Scorecard </p>
          </div>

          <div class="col-md-12 mt-4 bscTable">

            <table class="table table-striped">
              <thead>
              <tr class="bscBg-primary white">
                <th scope="col" rowspan="2">Initiative Code</th>
                <th scope="col" rowspan="2">Initiative Name</th>
                <th scope="col" rowspan="2">Milestones Code</th>
                <th scope="col" rowspan="2">Milestones Name</th>
                <th scope="col" colspan="12">
                  <select class="col-form-label-sm">
                    <option>2018</option>
                    <option>2017</option>
                    <option>2016</option>
                  </select>
                </th>
              </tr>

              <tr class="bscBg-primary white">
                <th scope="col">Jan</th>
                <th scope="col">Feb</th>
                <th scope="col">March</th>
                <th scope="col">April</th>
                <th scope="col">May</th>
                <th scope="col">June</th>
                <th scope="col">July</th>
                <th scope="col">Aug</th>
                <th scope="col">Sep</th>
                <th scope="col">Oct</th>
                <th scope="col">Nav</th>
                <th scope="col">Dec</th>
              </tr>


              </thead>
              <tbody>
              <tr>
                <td>I1_01</td>
                <td>Initiative 1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>MLS1_01</td>
                <td>Milestone 1</td>
                <td class="ltGreenBG"></td>
                <td class="ltGreenBG"></td>
                <td class="ltGreenBG"></td>
                <td class="greenBG"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>MLS1_02</td>
                <td>Milestone 2</td>
                <td></td>
                <td class="ltYellowBG"></td>
                <td class="ltYellowBG"></td>
                <td class="ltYellowBG"></td>
                <td class="ltYellowBG"></td>
                <td class="ltYellowBG"></td>
                <td class="yellowBG"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>


              </tbody>
            </table>

          </div>

        </div>



      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-md-6">
      <div class="boxs_BG mt-5">
        <div class="titleBG"> Attachments </div>
        <div class="border mt-4 pt-3 pb-2 pl-3">
          <p> <a href="" > Document 1 </a> </p>
          <p> <a href="" > Document 2 </a> </p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="boxs_BG mt-5">
        <div class="titleBG"> Reports </div>
        <div class="border mt-4 pt-3 pb-2 pl-3">
          <p> <a href="" > Report 1 </a> </p>
          <p> <a href="" > Report 2 </a> </p>
        </div>
      </div>
    </div>

  </div>

  <!-- =================  End=================== -->

</div>
