<div class="container-fluid gryBG">


  <!-- ================= Gantt Charts Form Start=================== -->

  <div class="row">
    <div class="col-md-12">
      <div class="boxs_BG mt-5">

        <div class="titleBG"> Gantt Charts</div>


        <form>
          <div class="row mt-4">
            <div class="col-md-6 pr-0">

              <div class="form-group row m-0">
                <label for="" class="col-sm-5 col-form-label col-form-label-sm">Organization Unit Code </label>
                <div class="col-sm-7">
                  <select class="form-control col-form-label-sm">
                    <option>100</option>
                    <option>110</option>
                    <option>120</option>
                  </select>
                </div>
              </div>

              <div class="form-group row m-0">
                <label for="" class="col-sm-5 col-form-label col-form-label-sm">Scorecard Code </label>
                <div class="col-sm-7">
                  <select class="form-control col-form-label-sm">
                    <option>S1_01</option>
                    <option>S1_02</option>
                    <option>S1_03</option>
                  </select>
                </div>
              </div>


            </div>
            <div class="col-md-6">

              <div class="form-group row m-0">
                <label for="" class="col-sm-5 col-form-label col-form-label-sm">Organization Unit Name </label>
                <div class="col-sm-7">
                  <input type="text" class="form-control col-form-label-sm" id="" value="Group Company"
                         placeholder="Organization Unit Name">
                </div>
              </div>
              <div class="form-group row m-0">
                <label for="" class="col-sm-5 col-form-label col-form-label-sm">Scorecard Name </label>
                <div class="col-sm-7">
                  <input type="text" class="form-control col-form-label-sm" id="" value="BSC"
                         placeholder="Scorecard Name">
                </div>
              </div>


            </div>
          </div>


        </form>


      </div>
    </div>
  </div>

  <!-- ================= Gantt Charts Form End=================== -->


  <!-- ================= Gantt Charts Table Start=================== -->

  <div class="row">
    <div class="col-md-12">
      <div class="boxs_BG">

        <!-- <div class="titleBG"> Risk Assissment </div> -->


        <div class="row">

          <div class="col-md-12 mt-4 bscTable">

            <table class="table table-striped">
              <thead>
              <tr class="bscBg-primary white">
                <th scope="col" rowspan="2">Initiative Code</th>
                <th scope="col" rowspan="2">Initiative Name</th>
                <th scope="col" rowspan="2">Milestones Code</th>
                <th scope="col" rowspan="2">Milestones Name</th>
                <th scope="col" colspan="12">
                  <select class="col-form-label-sm">
                    <option>2018</option>
                    <option>2017</option>
                    <option>2016</option>
                  </select>
                </th>
              </tr>

              <tr class="bscBg-primary white">
                <th scope="col">Jan</th>
                <th scope="col">Feb</th>
                <th scope="col">March</th>
                <th scope="col">April</th>
                <th scope="col">May</th>
                <th scope="col">June</th>
                <th scope="col">July</th>
                <th scope="col">Aug</th>
                <th scope="col">Sep</th>
                <th scope="col">Oct</th>
                <th scope="col">Nav</th>
                <th scope="col">Dec</th>
              </tr>


              </thead>
              <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>


              </tbody>
            </table>

          </div>

        </div>


      </div>
    </div>
  </div>

  <!-- ================= Gantt Charts Table End=================== -->


</div>
