<div class="container-fluid gryBG">
  <div class="row">
    <div class="col-md-6">
      <div class="boxs_BG mt-5">
        <div class="titleBG"> Action Item Management</div>
        <form>
          
          <div class="row mt-4">
            <div class="col-md-6 pr-0">
              <div class="form-group row m-0">
                <label for="" class="col-sm-5 col-form-label col-form-label-sm">Organization Unit Code </label>
                <div class="col-sm-7">
                  <select class="form-control col-form-label-sm">
                    <option>Select Unit Code</option>
                    <option>54546</option>
                    <option>54546</option>
                  </select>
                </div>
              </div>
              <div class="form-group row m-0">
                <label for="" class="col-sm-5 col-form-label col-form-label-sm">Scorecard Code </label>
                <div class="col-sm-7">
                  <select class="form-control col-form-label-sm">
                    <option>Select Scorecard Code</option>
                    <option>54546</option>
                    <option>54546</option>
                  </select>
                </div>
              </div>
              <div class="form-group row m-0">
                <label for="" class="col-sm-5 col-form-label col-form-label-sm">Action Item Code </label>
                <div class="col-sm-7">
                  <input type="text" class="form-control col-form-label-sm" id="" placeholder="Action Item Code">
                </div>
              </div>

              <div class="form-group row m-0">
                <label for="" class="col-sm-5 col-form-label col-form-label-sm">Description </label>
                <div class="col-sm-7">
                  <textarea class="form-control col-form-label-sm" id="" placeholder="Description"></textarea>
                </div>
              </div>
              <div class="form-group row m-0">
                <label for="" class="col-sm-5 col-form-label col-form-label-sm">Owner </label>
                <div class="col-sm-7">
                  <select class="form-control col-form-label-sm">
                    <option>Select Owner</option>
                    <option>Mr.Jone</option>
                    <option>Mr.Pal</option>
                  </select>
                </div>
              </div>

              <div class="form-group row m-0">
                <label for="" class="col-sm-5 col-form-label col-form-label-sm">Collaborators </label>
                <div class="col-sm-7">
                  <select class="form-control col-form-label-sm">
                    <option>Select Collaborators</option>
                    <option>Mr.Jone</option>
                    <option>Mr.Pal</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6 pl-0">

              <div class="form-group row m-0">
                <label for="" class="col-sm-5 col-form-label col-form-label-sm">Organization Unit Name </label>
                <div class="col-sm-7">
                  <input type="text" class="form-control col-form-label-sm" id="" placeholder="Organization Unit Name">
                </div>
              </div>

              <div class="form-group row m-0">
                <label for="" class="col-sm-5 col-form-label col-form-label-sm">Scorecard Name </label>
                <div class="col-sm-7">
                  <input type="text" class="form-control col-form-label-sm" id="" placeholder="Scorecard Name">
                </div>
              </div>

              <div class="form-group row m-0">
                <label for="" class="col-sm-5 col-form-label col-form-label-sm">Action Item Name </label>
                <div class="col-sm-7">
                  <input type="text" class="form-control col-form-label-sm" id="" placeholder="Action Item Name">
                </div>
              </div>

              <div class="form-group row m-0">
                <label for="" class="col-sm-5 col-form-label col-form-label-sm">Reporting Frequency </label>
                <div class="col-sm-7">
                  <select class="form-control col-form-label-sm">
                    <option>Select Frequency</option>
                    <option></option>
                    <option></option>
                  </select>
                </div>
              </div>

              <div class="form-group row m-0">
                <label for="" class="col-sm-5 col-form-label col-form-label-sm">Evaluation Master Measure </label>
                <div class="col-sm-7">
                  <input type="text" class="form-control col-form-label-sm" id=""
                         placeholder="Evaluation Master Measure">
                </div>
              </div>

              <div class="form-group row m-0">
                <label for="" class="col-sm-5 col-form-label col-form-label-sm">Status </label>
                <div class="col-sm-7">
                  <select class="form-control col-form-label-sm">
                    <option>Select Status</option>
                    <option></option>
                    <option></option>
                  </select>
                </div>
              </div>

              <div class="form-group row m-0">
                <label for="" class="col-sm-5 col-form-label col-form-label-sm">Attachments </label>
                <div class="col-sm-7">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFileLang" lang="es">
                    <label class="custom-file-label" for="customFileLang">Upload...</label>
                  </div>
                </div>
              </div>


            </div>

          </div>
        </form>
      </div>
    </div>
    <div class="col-md-6">
      <div class="boxs_BG mt-5">
        <!-- <div class="titleBG"> Mission </div> -->

        <div class="bs-example">
          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="durationTitle" id="headingOne">

                <label for="r11" class="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true">
                  <input type="radio" id="r11" name="occupation" value="Working" required=""> <span> Duration </span>
                </label>

              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample"
                   style="">
                <div class="card-body">
                  <form>
                    <div class="row">

                      <div class="col-md-6">
                        <div class="form-group row m-0 mt-3">
                          <label for="" class="col-sm-4 col-form-label col-form-label-sm">Start Date </label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control col-form-label-sm" id="" placeholder="Start Date">
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group row m-0 mt-3">
                          <label for="" class="col-sm-4 col-form-label col-form-label-sm">End Date </label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control col-form-label-sm" id="" placeholder="End Date">
                          </div>
                        </div>
                      </div>

                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="durationTitle" id="headingTwo">

                <label for="r12" data-toggle="collapse" data-target="#collapseTwo">
                  <input type="radio" id="r12" name="occupation" value="Not-Working" required=""> <span> Schedule Meetings </span>
                </label>

              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  <form>
                    <div class="form-group row m-0">
                      <label for="" class="col-sm-2 col-form-label col-form-label-sm">To </label>
                      <div class="col-sm-10">
                        <select class="form-control col-form-label-sm">
                          <option></option>
                          <option></option>
                          <option></option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group row m-0">
                      <label for="" class="col-sm-2 col-form-label col-form-label-sm">CC </label>
                      <div class="col-sm-10">
                        <select class="form-control col-form-label-sm">
                          <option></option>
                          <option></option>
                          <option></option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group row m-0">
                      <label for="" class="col-sm-2 col-form-label col-form-label-sm">Subject </label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control col-form-label-sm" id="" placeholder="">
                      </div>
                    </div>

                    <div class="form-group row m-0">
                      <label for="" class="col-sm-2 col-form-label col-form-label-sm">Location </label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control col-form-label-sm" id="" placeholder="">
                      </div>
                    </div>

                    <hr/>

                    <div class="row">

                      <div class="col-md-12 mt-3">

                        <div class="form-group row m-0">
                          <label for="" class="col-sm-2 col-form-label col-form-label-sm">Start Date </label>
                          <div class="col-sm-3">
                            <select class="form-control col-form-label-sm">
                              <option></option>
                              <option></option>
                              <option></option>
                            </select>
                          </div>
                          <div class="col-sm-3">
                            <select class="form-control col-form-label-sm">
                              <option></option>
                              <option></option>
                              <option></option>
                            </select>
                          </div>

                          <div class="col-sm-3">
                            <div class="custom-control custom-checkbox mt-1">
                              <input type="checkbox" class="custom-control-input" id="dayEvent">
                              <label class="custom-control-label cursorPointer" for="dayEvent">Day Event</label>
                            </div>
                          </div>

                        </div>
                      </div>

                      <div class="col-md-12 mt-3">

                        <div class="form-group row m-0">
                          <label for="" class="col-sm-2 col-form-label col-form-label-sm">End Date </label>
                          <div class="col-sm-3">
                            <select class="form-control col-form-label-sm">
                              <option></option>
                              <option></option>
                              <option></option>
                            </select>
                          </div>
                          <div class="col-sm-3">
                            <select class="form-control col-form-label-sm">
                              <option></option>
                              <option></option>
                              <option></option>
                            </select>
                          </div>

                          <div class="col-sm-3">
                            <select class="form-control col-form-label-sm">
                              <option> Remainders</option>
                              <option></option>
                              <option></option>
                            </select>
                          </div>

                        </div>
                      </div>


                    </div>

                  </form>

                </div>
              </div>
            </div>

          </div>
        </div>


      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-md-5">
      <div class="boxs_BG">
        <!-- <div class="titleBG"> Vission </div> -->

        <div class="mt-4">

          <div class="form-group row m-0">
            <label for="" class="col-sm-3 col-form-label col-form-label-sm">Percent Complete </label>
            <div class="col-sm-9 pr-0">
              <ng5-slider [options]="options"
              ></ng5-slider>
            </div>
          </div>
        </div>

        <div class="mt-4">
          <div class="form-group row m-0">
            <label for="" class="col-sm-3 col-form-label col-form-label-sm">Comments </label>
            <div class="col-sm-9">
              <textarea class="form-control col-form-label-sm" id="" placeholder="Comments"></textarea>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="col-md-7">
      <div class="boxs_BG">
        <div class="titleBG"> Links</div>

        <div class="mt-4">

          <div class="row">
            <div class="col-md-3">
              <div class="form-group row m-0">
                <label for="" class="col-sm-5 pr-0 col-form-label col-form-label-sm">Scorecard </label>
                <div class="col-sm-7 pr-0">
                  <select class="form-control col-form-label-sm">
                    <option></option>
                    <option></option>
                    <option></option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group row m-0">
                <label for="" class="col-sm-5 pr-0 col-form-label col-form-label-sm">Link Type </label>
                <div class="col-sm-7 pr-0">
                  <select class="form-control col-form-label-sm">
                    <option></option>
                    <option></option>
                    <option></option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group row m-0">
                <label for="" class="col-sm-5 pr-0 col-form-label col-form-label-sm">Elements </label>
                <div class="col-sm-7 pr-0">
                  <select class="form-control col-form-label-sm">
                    <option></option>
                    <option></option>
                    <option></option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="row">
                <div class="col-md-5 offset-md-1">
                  <button type="button" class="btn btn-success btn-sm"> Add Link</button>
                </div>
                <div class="col-md-5">
                  <button type="button" class="btn btn-danger btn-sm"> Unlink</button>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>


<div class="row summary_View">

  <div class="col-md-6">

  </div>
  <div class="col-md-6">
    <div class="float-right">
      <button type="button" class="btn btn-cancel"> Cancel</button>
      <button type="button" class="btn btn-save"> Save</button>
    </div>
  </div>

</div>

</div>
