<div class="row">
  <div class="col-md-12">
    <div class="boxs_BG mt-5">
      <div class="titleBG"> Link to Objectives</div>
      <div class="linkToObjectivesDiv mt-5">
        <div class="col-md-12">
          <div class="row linkToObjectivesSearch">
            <div class="col-md-3 linkObjectTitle"> Objective</div>
            <div class="col-md-6 p-0">
              <select class="form-control col-form-label-sm">
                <option>Objectives</option>
                <option>Objectives 1</option>
                <option>Objectives 2</option>
              </select>
            </div>
            <div class="col-md-3 linkObjectCreateLink"><i class="fa fa-link"></i> Create Link</div>
          </div>
          <div class="row linkToObjectivesFilds mt-5">

            <ul>
              <li>
                <div class="row linkToObjectivesFilds">
                  <div class="col-md-3">
                    <div class="measurePinkBoxs">Objective 1</div>
                  </div>
                  <div class="col-md-9">
                    <div class="row">
                      <div class="col-md-10">
                        <div class="objectiveBlueBoxs"> Objective 1</div>
                      </div>

                      <div class="col-md-2">
                        <div class="objectivePinkBoxs"><i class="fa fa-pencil"></i> <i class="fa fa-trash-o"></i></div>
                      </div>
                    </div>

                  </div>
                </div>
              </li>
              <li>
                <div class="row linkToObjectivesFilds">
                  <div class="col-md-3">
                    <div class="measurePinkBoxs">Objective 2</div>
                  </div>
                  <div class="col-md-9">
                    <div class="row">
                      <div class="col-md-10">
                        <div class="objectiveBlueBoxs"> Objective 2</div>
                      </div>

                      <div class="col-md-2">
                        <div class="objectivePinkBoxs"><i class="fa fa-pencil"></i> <i class="fa fa-trash-o"></i></div>
                      </div>
                    </div>

                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
