<div class="container-fluid gryBG">

  <!-- ========== Corporate Start =========== -->


  
    <div class="row">
      <div class="col-md-12">
          <div class="boxs_BG mt-5">
        <div class="titleBG"> Corporate Board </div>
        <div class="row">
          <div class="col-md-12">
            <div class="corporateTopBG">
              <form>
                <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group ml-4 row m-0">
                          <label for="" class="col-sm-6 col-form-label col-form-label-sm fb pr-0 pl-0">Organization Unit Code </label>
                          <div class="col-sm-6">
                            <select class="form-control col-form-label-sm">
                              <option>Unit Code</option>
                              <option>300</option>
                              <option>200</option>
                              <option>100</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row m-0">
                          <label for="" class="col-sm-6 col-form-label col-form-label-sm fb pr-0 pl-0">Organization Unit Name </label>
                          <div class="col-sm-6">
                            <input type="text" class="form-control col-form-label-sm" id="" value="Corporate Board" placeholder=" Organization Unit Name">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5 offset-md-1">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row m-0">
                          <label for="" class="col-sm-4 col-form-label col-form-label-sm fb">Year </label>
                          <div class="col-sm-8">
                            <select class="form-control col-form-label-sm">
                              <option>Select Year</option>
                              <option>2019</option>
                              <option>2018</option>
                              <option>2017</option>
                              <option>2016</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row m-0">
                          <label for="" class="col-sm-4 col-form-label col-form-label-sm fb">Version </label>
                          <div class="col-sm-8">
                            <select class="form-control col-form-label-sm">
                              <option>Select Version</option>
                              <option>Version 1.1</option>
                              <option>Version 1.2</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group row m-0">
              <label for="" class="col-sm-4 col-form-label col-form-label-sm">Scorecard </label>
              <div class="col-sm-8">
                <select class="form-control col-form-label-sm">
                  <option>Corporate BSC</option>
                  <option>HR Department</option>
                  <option>IT Department</option>
                  <option>Production</option>
                  <option>Finance</option>
                  <option>Board</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group row m-0">
              <label for="" class="col-sm-4 col-form-label col-form-label-sm">Link Type </label>
              <div class="col-sm-8">
                <select class="form-control col-form-label-sm">
                  <option>Objectives</option>
                  <option>Measures</option>
                  <option>Initiatives</option>
                  <option>Action Items</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group row m-0">
              <label for="" class="col-sm-4 col-form-label col-form-label-sm">Elements </label>
              <div class="col-sm-8">
                <select class="form-control col-form-label-sm">
                  <option>Profitability</option>
                  <option>Profitability 1.1</option>
                  <option>Profitability 1.2</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="row mt-4"> -->
    <!-- <div class="col-md-12"> -->
    <!-- <div class="float-right"> -->
    <!-- <button type="button" class="btn btn-cancel"> Cancel </button> -->
    <!-- <button  type="button" class="btn btn-save"> Save </button> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->

  </div>


  <!-- ========== Corporate End =========== -->

  <!-- ========== SBU Start =========== -->


  <div class="boxs_BG mt-5">
    <div class="row">
      <div class="col-md-12">
        <div class="titleBG"> SBU Unit </div>
        <div class="row">
          <div class="col-md-12">
            <div class="corporateTopBG">
              <form>
                <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group ml-4 row m-0">
                          <label for="" class="col-sm-6 col-form-label col-form-label-sm fb pr-0 pl-0">Organization Unit Code </label>
                          <div class="col-sm-6">
                            <select class="form-control col-form-label-sm">
                              <option>400</option>
                              <option>300</option>
                              <option>200</option>
                              <option>100</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row m-0">
                          <label for="" class="col-sm-6 col-form-label col-form-label-sm fb pr-0 pl-0">Organization Unit Name </label>
                          <div class="col-sm-6">
                            <input type="text" class="form-control col-form-label-sm" id="" value=" Board" placeholder=" Organization Unit Name">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 ml-5">

            <div class="row">
              <div class="col-md-8">
                <div class="form-group row m-0">
                  <label for="" class="col-sm-4 col-form-label col-form-label-sm">Scorecard </label>
                  <div class="col-sm-8">
                    <select class="form-control col-form-label-sm">
                      <option>400</option>
                      <option>300.02</option>
                      <option>300.03</option>
                      <option>300.04</option>
                      <option>300.05</option>
                      <option>300.06</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-4 mt-2">
                <p> CEO </p>
              </div>
            </div>



          </div>
          <div class="col-md-7">

            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label for="" >Link Type: Objective </label>

                  <select class="form-control col-form-label-sm">
                    <option>Improve Systems</option>
                    <option>Profitability 1</option>
                    <option>Profitability 2</option>
                    <option>Profitability 3</option>
                  </select>

                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="" >Note </label>

                  <textarea class="form-control" id="" placeholder="Reason of Align..."></textarea>

                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="" >Link Type: Objective </label>

                  <select class="form-control col-form-label-sm">
                    <option>Achive Stock holders Goals</option>
                    <option>Profitability 1</option>
                    <option>Profitability 2</option>
                    <option>Profitability 3</option>
                  </select>

                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="" >Note </label>

                  <textarea class="form-control" id="" placeholder="Reason of Align..."></textarea>

                </div>
              </div>
            </div>


          </div>

        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-12">
        <div class="float-right mr-4">
          <button type="button" class="btn btn-cancel"> Cancel </button>
          <button  type="button" class="btn btn-save"> Add Link </button>
        </div>
      </div>
    </div>

  </div>


  <!-- ========== SBU End =========== -->


  <!-- ========== Corporate SBU Start =========== -->


  <div class="boxs_BG mt-5">
    <div class="row">
      <div class="col-md-12">
        <div class="titleBG"> Corporate -  Board </div>
        <div class="row">
          <div class="col-md-12">
            <div class="corporateTopBG">

              <div class="row">
                <div class="col-md-6">

                  <div class="row ml-2">
                    <div class="col-md-12">
                      <b>200: Corporate - 400 : Board</b>

                    </div>
                  </div>

                </div>
                <div class="col-md-3 offset-md-3">

                  <div class="row">
                    <div class="col-md-6">
                      <b>Year : </b> <span> 2019 </span>
                    </div>
                    <div class="col-md-6">
                      <b>Version : </b> <span> Version 1.1 </span>
                    </div>
                  </div>

                </div>

              </div>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 ml-5 mt-5">

            <div class="row">
              <div class="col-md-12">
                <b>Scorecard : </b> <span> 200: Corporate BSC - 400 : CEO </span>

              </div>
            </div>

          </div>
          <div class="col-md-7 corporateDetailsTable">


            <table class="table">
              <thead>
              <tr>
                <th scope="col">Objective: Maximize Profitability</th>
                <th scope="col">Note</th>
                <th scope="col"></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Improve Systems</td>
                <td>Reason of Align there are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </td>
                <td class="text-right">
                  <button type="submit" class="btn btn-info btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                  <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-chain-broken" aria-hidden="true"></i></button>
                </td>
              </tr>
              <tr>
                <td>Achive Stock holders Goals</td>
                <td>Reason of Align there are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </td>
                <td class="text-right">
                  <button type="submit" class="btn btn-info btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                  <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-chain-broken" aria-hidden="true"></i></button>
                </td>
              </tr>

              </tbody>
            </table>

          </div>

        </div>
        <div class="row">
          <div class="col-md-4 ml-5 mt-5">

            <div class="row">
              <div class="col-md-12">
                <b>Scorecard : </b> <span> 200: Corporate BSC - 400 : CEO </span>

              </div>
            </div>

          </div>
          <div class="col-md-7 corporateDetailsTable">


            <table class="table">
              <thead>
              <tr>
                <th scope="col">Objective: Maximize Profitability</th>
                <th scope="col">Note</th>
                <th scope="col"></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Improve Systems</td>
                <td>Reason of Align there are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </td>
                <td class="text-right">
                  <button type="submit" class="btn btn-info btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                  <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-chain-broken" aria-hidden="true"></i></button>
                </td>
              </tr>
              <tr>
                <td>Achive Stock holders Goals</td>
                <td>Reason of Align there are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </td>
                <td class="text-right">
                  <button type="submit" class="btn btn-info btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                  <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-chain-broken" aria-hidden="true"></i></button>
                </td>
              </tr>

              </tbody>
            </table>

          </div>

        </div>
      </div>
    </div>


  </div>


  <!-- ========== Corporate SBU End =========== -->

</div>
